@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
    --dark-green: #537A42;
    --white-green: #DFFBD3;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: jost, sans-serif;
    margin-bottom: 150px;
    position: relative;
}

/* header, logo and navigation menu */

/* Sets header as flex container */
header {
    width: 100%;
    height: 300px;
    background-color: var(--dark-green);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#logo h2, h4 {
    text-transform: uppercase;
    color: var(--white-green);
    text-align: center;
    font-weight: 500;
    letter-spacing: 5px;
}

#logo h2 {
    font-size: 180%;
}

#logo img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#navigation-menu a {
    color: var(--white-green);
    text-decoration: none;
    padding: 0 15px;
}

#navigation-menu a:hover {
    border-bottom: 1px solid var(--white-green);
}

/* About Us section */

#about-us {
    height: 600px;
    background: url('../images/forest.avif') no-repeat center center;
    background-size: cover;
    background-color: var(--dark-green);
    overflow: hidden;
    position: relative;
    margin: 0;
    clear: both;
}

#about-us h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    font-weight: 500px;
    padding: 30px;
    margin: 0;
}

#about-us p {
    text-align: justify;
    padding: 15px 30px;
    margin: 0;
}

#about-us > div {
    width: 600px;
    height: 400px;
    background-color: var(--white-green);
    color: var(--dark-green);
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -300px;
}

/*  Why Agroforestry section */

#why-section {
    background-color: var(--white-green);
    height: 600px;
    width: 100%;
    position: relative;
}

#why-section h2 {
    text-transform: uppercase;
    color: var(--dark-green);
    text-align: center;
    font-weight: 500px;
    letter-spacing: 5px;
    padding: 30px;
}

#why-section p {
    padding: 15px 30px;
    margin: 30px;
    background-color: var(--dark-green);
    color: var(--white-green);
}

#why-section div {
    width: 66%;
    margin: 0 auto;
}

/* Want to know more section */

#know-more {
    background-color: var(--white-green);
    height: 1100px;
    width: 100%;
    position: relative;
}

#know-more h2 {
    text-transform: uppercase;
    color: var(--dark-green);
    text-align: center;
    font-weight: 500px;
    letter-spacing: 5px;
    padding: 30px;
}

#know-more h4 {
    text-transform: uppercase;
    color: var(--dark-green);
    text-align: center;
    font-weight: 500px;
    letter-spacing: 5px;
    padding: 45px;
    clear: both;
}

#know-more iframe {
    margin: 15px auto;
    display: block;
}

#outer-div {
    height: 330px;
    width: 80%;
    margin: 0 auto;
}

#outer-div p {
    padding: 15px;
    text-align: justify;
}

#outer-div a {
    color: var(--white-green);
    text-decoration: none;
    padding: 0;
    margin: 15px;
    display: block;
    text-align: center;
}

#outer-div a:hover {
    border-bottom: 1px solid var(--white-green);
}

#outer-div div {
    background-color: var(--dark-green);
    color: var(--white-green);
    width: 25%;
    float: left;
    height: 300px;
    margin: 4.16%;
}

/* footer, contact us and social media links */

footer {
    width: 100%;
    height: 150px;
    background-color: var(--dark-green);
    position: fixed;
    bottom: 0;
    left: 0;
}

footer img {
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 auto;
    margin-top: 37.5px;
}

footer > a {
    background-color: var(--white-green);
    color: var(--dark-green);
    padding: 5px 15px;
    text-decoration: none;
    border: 1.5px solid var(--dark-green);
    border-radius: 3px;
    position: fixed;
    bottom: 60px;
    left: 30px;
}

footer > a:hover {
    background-color: var(--dark-green);
    color: var(--white-green);
    border: 1.5px solid var(--white-green);
    border-radius: 3px;
}

footer ul {
    float: right;
    position: fixed;
    right: 30px;
    bottom: 50px;
}

footer li {
    display: inline;
    padding: 15px;
    margin: 0;
}

footer li a {
    color: var(--white-green);
    font-size: 150%;
}